<%= render 'shared/page_title', title: @recipee.name %>
<div class="well col-md-8 col-md-offset-2">



	<h4 class= "center description"><strong>Steps: </strong></h4>
	<hr />
	<%=simple_format (@recipee.description) %>
	<hr />
	<div class="pull-right">
		<p class="center">
		<em>Created by:</em>
	</p>
	<p class="center">
		<%= link_to gravatar_for(@recipee.chef), recipees_path %>
	</p>
	<p class="center">
		<small><% @recipee.chef.chefname.capitalize %></small>
		<div class="pull-right"><% time_ago_in_words(@recipee.created_at) %> ago</div>
	</p>
	</div>

	<div class="recipee-actions">
		<% if logged_in? && current_chef == @recipee.chef %>
			<%= link_to "Edit this recipee", edit_recipee_path(@recipee),  class: 'btn btn-xs btn-warning' %>
			 <%= link_to "Delete this recipee", recipee_path(@recipee), method: :delete,  data: { confirm: "Are you sure you want to delete?" },
	              class: "btn btn-xs btn-danger" %>
	         
	    <% end %>
	    <%= link_to "Return to recipees listing", recipees_path, class: "btn btn-xs btn-primary" %>
	</div>
</div>